.header {
    width: 100%;
    background: yellow;
    color: black;
    text-align: center;
}

body {
    background-color: lightblue;
    color: navy;
    text-align: center;
}

head {
    background-color: lightyellow;
    text-align: center;
}