.header {
    width: 100%;
    background: yellow;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

body {
    background-color: lightblue;
    color: navy;
}

head {
    background-color: lightyellow;
}